<div class="footer">
  <div class="inner">
    <div class="section_1">
      <div class="social">
        <span>获取最新消息：</span>
        <a href="https://space.bilibili.com/1084032072" target="_blank"
          ><img src="./assets/image/bilibili.png" class="b" alt="bilibili"
        /></a>
        <a href="https://www.taptap.com/developer/75797" target="_blank"
          ><img src="./assets/image/tap.png" class="tap" alt="bilibili" />
        </a>
      </div>
      <div class="dl">
        <a
          href="https://apps.apple.com/cn/app/%E6%91%87%E6%91%86%E7%A7%AF%E6%9C%A8%E8%B6%85%E5%A2%9E%E9%87%8F%E7%89%88/id1565540386"
          target="_blank"
          ><img src="./assets/image/dl_iap.png" alt="AppStore下载"
        /></a>
        <a href="https://www.taptap.com/app/214707" target="_blank"
          ><img src="./assets/image/dl_tap.png" alt="taptap下载"
        /></a>
      </div>
    </div>
    <div class="gppg">
      <img src="./assets/image/GPPG.png" alt="GPPG900" />
      <p>
        这是一款GROUP 900出品的游戏，当您看到左侧的标识，代表：<br />
        这款游戏不做商业性发行，不收费，无内购，无强制广告，GROUP900将通过自主以及用户捐助维持开发与运营成本，并且对此作出永久性承诺<br />
        我们可以完全决定这款游戏成品的表现，在不受任何人、机构的影响下进行创作和开发<br />
        我们将这款游戏视为一种在计算机软件交互界面上的探索和实验，也是一部艺术性完备的数码艺术品，这让我们引以为傲！<br />
        我们可以随时启动或终止这款游戏软件的运营或开发，并且不需要作出任何解释，且GROUP900亦不会承担任何可能对您造成的损失
      </p>
    </div>
    <div class="section_2">
      <div class="ref">
        <a href="/licenses.html">开源软件协议</a>
        <a href="mailto:witcat@nine00.com"
          >捐助与游戏体验问询：witcat@ninie00.com</a
        >
      </div>
      <div class="copy">
        <span
          >注：捐助本软件不会给您带来任何虚拟或实体物品回报，甚至您的捐助信息也不会被展示。</span
        >
        <span>&copy;GROUP 900</span>
      </div>
    </div>
  </div>
</div>
