<div class="header">
  <a href="https://www.nine00.com">
    <img src="./assets/image/group900.png" alt="GROUP 900"
  /></a>
  <div class="dl">
    <a
      href="https://apps.apple.com/cn/app/%E6%91%87%E6%91%86%E7%A7%AF%E6%9C%A8%E8%B6%85%E5%A2%9E%E9%87%8F%E7%89%88/id1565540386"
      target="_blank"
      ><img src="./assets/image/dl_iap.png" alt="AppStore下载"
    /></a>
    <a href="https://www.taptap.com/app/214707" target="_blank"
      ><img src="./assets/image/dl_tap.png" alt="taptap下载"
    /></a>
  </div>
</div>
