.header {
  height: 50px;
  width: 100%;
  display: flex;
  background: white;
  padding: 0 32px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  @include mobile {
    padding: 0 16px;
    height: 44px;
  }
  img {
    object-fit: contain;
    height: 32px;
    @include mobile {
      height: 24px;
    }
  }
  .dl {
    display: flex;
    align-items: center;
    @include mobile {
      display: none;
    }
    img {
      @include clickable;
    }
    & > img:first-child {
      margin-right: 16px;
    }
  }
}
