.header {
  height: 50px;
  width: 100%;
  display: flex;
  background: white;
  padding: 0 32px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  img {
    object-fit: contain;
    height: 32px;
  }
  .dl {
    display: flex;
    align-items: center;
    img {
      @include clickable;
    }
    & > img:first-child {
      margin-right: 16px;
    }
  }
}
