<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      摇摆积木超增量版{% if page.title %} - {{ page.title }}{% endif %}
    </title>
    <meta name="keywords" content="摇摆积木,摇摆积木超增量版,GROUP900" />
    <meta name="description" content="免费下载摇摆积木超增量版" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="/assets/css/magic.css" />
  </head>
  <body>
    {% include header.html %}
    <div class="content_container">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
